[submodule "external/libuiohook"]
	path = external/libuiohook
	url = https://github.com/kwhat/libuiohook
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
